/* mina-regular */
@import url("//fonts.loli.net/css?family=Mina");

@font-face {
	font-family: 'Mina';
	font-style: normal;
	font-weight: regular;
	/* IE9 Compat Modes */
	src: url('//lib.baomitu.com/fonts/mina/mina-regular.eot');
	src: local('Mina'), local('Mina-Normal'),
		/* IE6-IE8 */
		url('//lib.baomitu.com/fonts/mina/mina-regular.eot?#iefix') format('embedded-opentype'),
		/* Super Modern Browsers */
		url('//lib.baomitu.com/fonts/mina/mina-regular.woff2') format('woff2'),
		/* Modern Browsers */
		url('//lib.baomitu.com/fonts/mina/mina-regular.woff') format('woff'),
		/* Safari, Android, iOS */
		url('//lib.baomitu.com/fonts/mina/mina-regular.ttf') format('truetype'),
		/* Legacy iOS */
		url('//lib.baomitu.com/fonts/mina/mina-regular.svg#Mina') format('svg');
}

::-webkit-scrollbar {
	display: none;
}

:root {
	/* Firefox */
	scrollbar-width: none;
}

html,
body {
	/*overflow: hidden;*/
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#select div {
	display: inline-block;
}

#stage {
	background-color: rgba(0, 0, 0, 0.2);
	margin: auto;
	line-height: 0;
}

#stage:not(.full) {
	position: relative;
	width: 80vw;
	max-width: 854px;
}

#stage.full {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#mask {
	color: gray;
	font-family: Mina, Consolas, Menlo, monospace;
	font-size: 4vmin;
	position: absolute;
	width: 70vmin;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	line-height: 1.5em;
}

.upload {
	width: 80vw;
	max-width: 500px;
	display: inline-flex;
	justify-content: center;
}

#cover-dark {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	left: 0px;
	bottom: 0px;
	transition-property: opacity, visibility;
	transition-duration: 0.2s;
	z-index: 200;
}

#cover-view {
	position: fixed;
	width: 85vmin;
	height: 85vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition-property: opacity, visibility;
	transition-duration: 0.2s;
	z-index: 300;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: space-between;
	align-items: stretch;
}

#view-doc,
#view-msg {
	width: 95%;
	height: 99%;
	padding: 1px 0 0 0;
	margin: auto;
	overflow: scroll;
}

#view-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: stretch;
}

#view-nav a {
	background-color: #89a7f3;
	color: #f0f1fe;
	flex-grow: 1;
	text-align: center;
	border: 1px solid gray;
	border-radius: 2vmin 2vmin 0 0;
	padding: 0.5vmin;
	font-size: calc(12px + 1vmin);
	transition-property: color, background-color;
	transition-duration: 0.2s;
}

#view-nav a:hover,
#view-nav a.active {
	background-color: #f0f1fe;
	color: #89a7f3;
}

#view-content {
	background-color: #f0f1fe;
	border: 1px solid gray;
	border-radius: 0 0 2vmin 2vmin;
	flex-grow: 1;
	height: 0;
}

#view-msg:empty::after {
	content: "信息将会显示在这里";
	display: flow-root;
	text-align: center;
	padding: calc(6px + 1vmin);
	font-size: calc(6px + 1vmin);
	font-family: Consolas, Menlo, monospace;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
}

.msgbox {
	display: flow-root;
	margin: calc(6px + 1vmin) 0;
	border: 1px solid gray;
	border-radius: calc(6px + 1vmin);
	text-align: left;
	word-break: break-all;
	padding: calc(6px + 1vmin);
	font-size: calc(6px + 1vmin);
	font-family: Consolas, Menlo, monospace;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
}