@font-face {
  font-family: Custom;
  src: url('/src/font.woff2') format('woff2');
}

html,
body {
  /*overflow: hidden;*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#select div {
  display: inline-block;
}

#stage {
  font-family: Custom, Consolas, Menlo, monospace;
  font-size: 4vmin;
  color: gray;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  line-height: 0;
}

#stage i {
  font-family: 'Material Icons';
  font-style: normal;
  color: #fff;
  pointer-events: none;
  opacity: 0.6;
  line-height: initial;
}

#stage i.tl {
  position: absolute;
  top: 0;
  left: 0;
}

#stage i.tr {
  position: absolute;
  top: 0;
  right: 0;
}

#stage i.bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

#stage i.br {
  position: absolute;
  bottom: 0;
  right: 0;
}

#mask {
  position: absolute;
  width: 70vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  line-height: 1.5em;
}

#uploader {
  display: inline-block;
  position: relative;
}

#uploader-select {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  border: 1px solid #93cb96;
  box-shadow: 0 0 8px 0 #7dc581;
  border-radius: 3px;
  background: #fff;
}

#uploader:hover #uploader-select {
  visibility: visible;
}

#uploader-select > label {
  font-size: 0.9em;
  padding: 0.15em 0.15em 0.15em 0;
  text-align: left;
  padding: 0.2em 0.6em;
}

#uploader-select > label:hover {
  background-color: #c9e5ca;
}

.cover-dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  left: 0px;
  bottom: 0px;
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  z-index: 200;
}

.cover-view {
  position: fixed;
  width: 85vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: opacity, visibility;
  transition-duration: 0.2s;
  z-index: 200;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  pointer-events: none;
}

.cover-view > * {
  pointer-events: initial;
}

#view-msg,
#view-ext,
#view-cfg {
  width: 100%;
  height: 99%;
  margin: auto;
  overflow: scroll;
}

#view-cfg > div {
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  border: 1px solid gray;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 50%;
}

.view-nav a,
.view-nav p {
  background-color: #89a7f3;
  color: #f0f1fe;
  flex-grow: 1;
  text-align: center;
  border: 1px solid gray;
  margin: -1px;
  padding: 0.25em;
  font-size: 1.33em;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.view-nav a:hover,
.view-nav a.active {
  background-color: #f0f1fe;
  color: #89a7f3;
}

.view-content {
  max-height: 80vh;
  background-color: #f0f1fe;
  border: 1px solid gray;
  border-radius: 0 0 1em 1em;
  overflow: scroll;
  margin-top: -1px;
  padding: 1% 2.5% 0%;
}

.cover-view[qwq] {
  flex-wrap: nowrap;
}

.cover-view[qwq] > .view-content {
  height: 3473vh;
  flex-grow: 1;
}

.view-content > :empty:after {
  content: '此功能正在建设中...';
  display: flow-root;
  text-align: center;
  padding: 0.9em;
  font-size: 0.9em;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

/* MessageHandler */
#view-msg:empty::after {
  content: '日志将会显示在这里';
}

.msgbox {
  display: flow-root;
  margin: 0.9em 0;
  border: 1px solid gray;
  border-radius: 0.5em;
  text-align: left;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0.9em;
  font-size: 0.9em;
  font-family: Consolas, Menlo, monospace;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.msgbox[type='notice'] {
  background-color: #ecf4ff;
  color: #003681;
}

.msgbox[type='warn'] {
  background-color: #fffbe5;
  color: #5c3c00;
}

.msgbox[type='error'] {
  background-color: #fee;
  color: #e10000;
}

.bm-item {
  clear: both;
  border: none;
  border-top: 1px dashed gray;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.bm-rbtn {
  float: right;
  padding-bottom: 0.5em;
}

.bm-item:last-child > .bm-rbtn {
  padding-bottom: 0;
}

body.iframe {
  visibility: hidden;
}

body.iframe #stage {
  visibility: visible;
}
